{% extends 'base.html.twig' %}

{% block title %}Travel E-Shop Terms of Use{% endblock %}

{% block body %}

<style>
.card{
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
}
</style>

<div class="video-background">
    <iframe 
        src="https://youtube.com/embed/9OhgHSFAnRM?autoplay=1&mute=1&loop=1&controls=0&showinfo=0&rel=0&playlist=9OhgHSFAnRM&modestbranding=1" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        frameborder="0" 
        allowfullscreen
    ></iframe>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">            
            <div class="card">
                <div class="card-body">
                    {{ contract_content|nl2br }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
